@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --blanco:#f5f0ff;
  --morado:#6c2bd9;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

body {
    font-family: "roboto", sans-serif;
}    

.imagen-footer {
    width: 100%;
    height: 100%;
}

.texto-cartas {
    font-size: 12px;
}

.texto-titulo {
    font-size: 24px;
}
